{% extends 'base.html.twig' %}

{% block title %}
    List of books
{% endblock %}

{% block body %}

    <h1>Books library</h1>

    <h2>List ({{ books|length }}):</h2>

    <ul>
        {% for book in books %}
            <li>{{ book.title }}</li>
        {% endfor %}
    </ul>

{% endblock %}